{% extends 'base.html' %}

{% block title %}메인{% endblock %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}
{% load humanize %}
<div class="container">

    <div class="banner">
        <img src="{% static 'imgs/popup-banner.png' %}" alt="배너 이미지" />
    </div>
    <section class="game-categories">
        <nav>
            <a href="#popular" class="active" onclick="changeCategory('popular')">인기 게임</a>
            <a href="#free" onclick="changeCategory('free')">무료 게임</a>
            <a href="#discounted" onclick="changeCategory('discounted')">할인 게임</a>
            <a href="#single" onclick="changeCategory('single')">싱글 플레이어</a>
            <a href="#multi" onclick="changeCategory('multi')">멀티 플레이어</a>
        </nav>

        <div class="card-container" id="game-cards">
            <!-- Game Cards will be dynamically updated here -->
        </div>
    </section>
</div>

<script>
    function changeCategory(category) {
        // Change active tab
        const tabs = document.querySelectorAll('.game-categories nav a');
        tabs.forEach(tab => tab.classList.remove('active'));
        document.querySelector(`a[href="#${category}"]`).classList.add('active');

        // Update cards based on the selected category
        const cardContainer = document.getElementById('game-cards');
        let cardsHTML = '';

        if (category === 'popular') {
            cardsHTML = `
            {% for game in games %}
                <div class="card" onclick="window.location.href='{% url 'dashboard' game.app_id %}'">
                    <div class="scoreBackground"></div>
                    <img src="{{ game.header_image }}" alt="{{ game.name }}">
                    <h3>{{ game.name }}</h3>
                    <div class="status">
                        <div class="pricing">
                            {% if game.final_price_int == 0 %}
                                <span class="final-price">Free</span>
                            {% else %}
                                {% if game.discount_percent > 0 %}
                                    <span class="original-price"><del>{{ game.initial_price_int |intcomma}}₩</del></span>
                                    <div class="discount">{{ game.discount_percent }}% Off</div>
                                    <span class="final-price">{{ game.final_price_int |intcomma }} ₩</span>
                                {% else %}
                                    <span class="final-price">{{ game.final_price_int|intcomma }} ₩</span>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="positive_negative_ratio">
                        {% if game.positive_ratio == 0 %}
                            <span class="badge gray">?</span>
                        {% elif game.positive_ratio > 70 %}
                            <span class="badge green">{{ game.positive_ratio }}</span>
                        {% elif game.positive_ratio > 40 %}
                            <span class="badge yellow">{{ game.positive_ratio }}</span>
                        {% else %}
                            <span class="badge red">{{ game.positive_ratio }}</span>
                        {% endif %}
                        </div>
                    </div>

                     <div class="progress-bar-container">
                        {% if game.positive_ratio == 0 %}
                            <div class="progress-bar gray" style="width: 100%;"></div>
                        {% else %}
                            <div class="progress-bar green" style="width: {{ game.green_ratio }}%;"></div>

                            <div class="progress-bar red" style="width: {{ game.red_ratio }}%;"></div>
                        {% endif %}
                    </div>
                </div>

            {% endfor %}
            `;
        } else if (category === 'free') {
            cardsHTML = `
            {% for game in games %}
                {% if game.final_price_int == 0 %}
                    <div class="card" onclick="window.location.href='{% url 'dashboard' game.app_id %}'">
                        <div class="scoreBackground"></div>
                        <img src="{{ game.header_image }}" alt="{{ game.name }}">
                        <h3>{{ game.name }}</h3>
                        <div class="status">
                            <div class="pricing">
                                <span class="final-price">Free</span>
                            </div>
                            <div class="positive_negative_ratio">
                                {% if game.positive_ratio == 0 %}
                                    <span class="badge gray">?</span>
                                {% elif game.positive_ratio > 70 %}
                                    <span class="badge green">{{ game.positive_ratio }}</span>
                                {% elif game.positive_ratio > 40 %}
                                    <span class="badge yellow">{{ game.positive_ratio }}</span>
                                {% else %}
                                    <span class="badge red">{{ game.positive_ratio }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="progress-bar-container">
                            {% if game.positive_ratio == 0 %}
                                <div class="progress-bar gray" style="width: 100%;"></div>
                            {% else %}
                                <div class="progress-bar green" style="width: {{ game.green_ratio }}%;"></div>

                                <div class="progress-bar red" style="width: {{ game.red_ratio }}%;"></div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            `;
        } else if (category === 'discounted') {
            cardsHTML = `
            {% for game in games %}
                {% if game.discount_percent > 0 %}
                    <div class="card" onclick="window.location.href='{% url 'dashboard' game.app_id %}'">
                        <div class="scoreBackground"></div>
                        <img src="{{ game.header_image }}" alt="{{ game.name }}">
                        <h3>{{ game.name }}</h3>
                        <div class="status">
                            <div class="pricing">
                                    <span class="original-price"><del>{{ game.initial_price_int |intcomma}}₩</del></span>
                                    <div class="discount">{{ game.discount_percent }}% Off</div>
                                    <span class="final-price">{{ game.final_price_int |intcomma }} ₩</span>
                            </div>
                            <div class="positive_negative_ratio">
                                {% if game.positive_ratio == 0 %}
                                    <span class="badge gray">?</span>
                                {% elif game.positive_ratio > 70 %}
                                    <span class="badge green">{{ game.positive_ratio }}</span>
                                {% elif game.positive_ratio > 40 %}
                                    <span class="badge yellow">{{ game.positive_ratio }}</span>
                                {% else %}
                                    <span class="badge red">{{ game.positive_ratio }}</span>
                                {% endif %}
                                </div>
                            </div>

                             <div class="progress-bar-container">
                                {% if game.positive_ratio == 0 %}
                                    <div class="progress-bar gray" style="width: 100%;"></div>
                                {% else %}
                                    <div class="progress-bar green" style="width: {{ game.green_ratio }}%;"></div>

                                    <div class="progress-bar red" style="width: {{ game.red_ratio }}%;"></div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            `;
        } else if (category === 'single') {
            cardsHTML = `
            {% for game in games %}
            {% if "싱글 플레이어" in game.categories|join:", " %}
                <div class="card" onclick="window.location.href='{% url 'dashboard' game.app_id %}'">
                    <div class="scoreBackground"></div>
                    <img src="{{ game.header_image }}" alt="{{ game.name }}">
                    <h3>{{ game.name }}</h3>
                    <div class="status">
                        <div class="pricing">
                            {% if game.final_price_int == 0 %}
                                <span class="final-price">Free</span>
                            {% else %}
                                {% if game.discount_percent > 0 %}
                                    <span class="original-price"><del>{{ game.initial_price_int |intcomma}}₩</del></span>
                                    <div class="discount">{{ game.discount_percent }}% Off</div>
                                    <span class="final-price">{{ game.final_price_int |intcomma }} ₩</span>
                                {% else %}
                                    <span class="final-price">{{ game.final_price_int |intcomma}} ₩</span>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="positive_negative_ratio">
                            {% if game.positive_ratio == 0 %}
                                <span class="badge gray">?</span>
                            {% elif game.positive_ratio > 70 %}
                                <span class="badge green">{{ game.positive_ratio }}</span>
                            {% elif game.positive_ratio > 40 %}
                                <span class="badge yellow">{{ game.positive_ratio }}</span>
                            {% else %}
                                <span class="badge red">{{ game.positive_ratio }}</span>
                            {% endif %}
                            </div>
                        </div>

                         <div class="progress-bar-container">
                            {% if game.positive_ratio == 0 %}
                                <div class="progress-bar gray" style="width: 100%;"></div>
                            {% else %}
                                <div class="progress-bar green" style="width: {{ game.green_ratio }}%;"></div>

                                <div class="progress-bar red" style="width: {{ game.red_ratio }}%;"></div>
                            {% endif %}
                    </div>
                </div>
            {% endif %}
            {% endfor %}
            `;
        } else if (category === 'multi') {
            cardsHTML = `
            {% for game in games %}
                {% if "멀티플레이어" in game.categories|join:", " %}
                    <div class="card" onclick="window.location.href='{% url 'dashboard' game.app_id %}'">
                        <div class="scoreBackground"></div>
                        <img src="{{ game.header_image }}" alt="{{ game.name }}">
                        <h3>{{ game.name }}</h3>
                        <div class="status">
                            <div class="pricing">
                                {% if game.final_price_int == 0 %}
                                    <span class="final-price">Free</span>
                                {% else %}
                                    {% if game.discount_percent > 0 %}
                                    <span class="original-price"><del>{{ game.initial_price_int |intcomma}}₩</del></span>
                                    <div class="discount">{{ game.discount_percent }}% Off</div>
                                    <span class="final-price">{{ game.final_price_int |intcomma }} ₩</span>
                                    {% else %}
                                        <span class="final-price">{{ game.final_price_int|intcomma }} ₩</span>
                                    {% endif %}
                                {% endif %}
                            </div>
                             <div class="positive_negative_ratio">
                                {% if game.positive_ratio == 0 %}
                                    <span class="badge gray">?</span>
                                {% elif game.positive_ratio > 70 %}
                                    <span class="badge green">{{ game.positive_ratio }}</span>
                                {% elif game.positive_ratio > 40 %}
                                    <span class="badge yellow">{{ game.positive_ratio }}</span>
                                {% else %}
                                    <span class="badge red">{{ game.positive_ratio }}</span>
                                {% endif %}
                                </div>
                            </div>

                             <div class="progress-bar-container">
                                {% if game.positive_ratio == 0 %}
                                    <div class="progress-bar gray" style="width: 100%;"></div>
                                {% else %}
                                    <div class="progress-bar green" style="width: {{ game.green_ratio }}%;"></div>

                                    <div class="progress-bar red" style="width: {{ game.red_ratio }}%;"></div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            `;
        }

        cardContainer.innerHTML = cardsHTML;
    }
    // Load default category
    window.onload = () => {
        changeCategory('popular');
    }


</script>
{% endblock %}

